{% extends 'layout.html' %}

{% block title %}
<title>Aditya Dedhia</title>
{% endblock title %}

{% block body %}
<h1 class="display-1">Hello, I am Aditya Dedhia</h1>
<hr/>
<h1 class="display-3">WEB: <a href="https://www.walnutmind.org">walnutmind.org</a></h1>
<h1 class="display-3">READING: <a href="https://www.goodreads.com/adityadedhia
    ">goodreads.com/adityadedhia</a></h1>
<h1 class="display-3">GITHUB: <a href="https://github.com/AdityaDedhia
        ">github.com/adityadedhia</a></h1>
    <h1 class="display-3">LINKEDIN: <a href="https://www.linkedin.com/in/aditya-dedhia-b054381a5/">linkedin.com/in/aditya-dedhia</a></h1>
{% endblock body %}

